body {
    font-family: 'Roboto', sans-serif;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 8px;
    display:block
    gap: 20px;
    background: white;
    border-radius: 10px;
}


/* header */
header {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    background: #013a63;
    border-radius: 8px;
}

header img {
    width: 70px;
    margin: 5px;
    border-radius: 50px;
}

header span {
    font-size: 2rem;
    font-weight: 600;
}

/* menu */
nav {
    background: #333;
    padding: 10px;
    border-radius: 8px;
}

nav button {
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    display: block;
    position: relative;
}

nav button::before {
    content: "☰"; 
    font-size: 24px;
    transition: all 0.3s ease-in-out;
}

nav button.open::before {
    content: "X"; 
    font-size: 24px;
    background-color: #005fa3;
}

nav ul {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul.show {
    display: block;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li a.active {
    background-color: #005fa3;
    color: white; 
    font-weight: bold;
    border-radius: 5px;
    padding: 8px 12px;
    text-decoration: none; 
}

/* main Content */
main {
    display: grid;
    gap: 20px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

main section img {
    display: block;
    margin: 0 auto;
    display: block;
    width: 250px;
    margin: 5px;
    border-radius: 10px;
}

/* sections */
section {
    margin-bottom: 10px;
}

h1 {
    font-size: 1.5rem;
    text-align: left;
    color: #013a63;
}

h2 {
    text-align: center;
    padding: 10px;
    background: #013a63;
    color: white;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100%;

}

/* footer */
footer {
    text-align: center;
    padding: 10px;
    background: #013a63;
    color: white;
    border-radius: 8px;
}

/* course list */
#courseList div {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-weight: 500;

}

.completed {
    background: #2b4b33;
    color: #fff;
}

.not-completed {
    background: #5a1218;
    color: #fff;
}

/* buttons */
button {
    padding: 10px;
    background: #013a63;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;

}

button:hover {
    background: #005fa3;
}

/* responsive menu */
@media (min-width: 768px) {
    nav ul {
        display: flex !important;
        justify-content: space-around;
    }

    nav button {
        display: none;
    }
}